<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	cropToFit="false"

>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\chuseok2017\1.jpg">
    <title><![CDATA[1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\chuseok2017\2.jpg">
    <title><![CDATA[2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\chuseok2017\3.jpg">
    <title><![CDATA[3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbs/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\chuseok2017\4.jpg">
    <title><![CDATA[4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/5.jpg"
	thumbURL="thumbs/5.jpg"
	linkURL="images/5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\chuseok2017\5.jpg">
    <title><![CDATA[5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/6.jpg"
	thumbURL="thumbs/6.jpg"
	linkURL="images/6.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\chuseok2017\6.jpg">
    <title><![CDATA[6]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7.jpg"
	thumbURL="thumbs/7.jpg"
	linkURL="images/7.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\chuseok2017\7.jpg">
    <title><![CDATA[7]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/8.jpg"
	thumbURL="thumbs/8.jpg"
	linkURL="images/8.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\chuseok2017\8.jpg">
    <title><![CDATA[8]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/9.jpg"
	thumbURL="thumbs/9.jpg"
	linkURL="images/9.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\chuseok2017\9.jpg">
    <title><![CDATA[9]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>