/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #005500;
  font-size: 22;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  /* background-color: #555; */
  color: black;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.myTitle{
  background-color: #004400;
  padding: 20px;
  font-size: 52px;
  color: white;
}

/*
.myCarouselClass img{
  width: auto;
  height: 440px;
  max-height: 440px;
  margin: auto;
}
*/

.carousel-inner{
  width: 100%;
  margin: auto;
  height: 440px;
  max-height: 440px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
  .myTitle{
    font-size: 160%;
  }
  .imgwrapper{
    width:10%;
  }
  .myFooter{
    font-size: 60%;
  }
}
