<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1280"
	imageQuality="99"

>
  <image imageURL="images/0038.jpg"
	thumbURL="thumbs/0038.jpg"
	linkURL="images/0038.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0038.jpg">
    <title><![CDATA[0038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0039.jpg"
	thumbURL="thumbs/0039.jpg"
	linkURL="images/0039.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0039.jpg">
    <title><![CDATA[0039]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0040.jpg"
	thumbURL="thumbs/0040.jpg"
	linkURL="images/0040.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0040.jpg">
    <title><![CDATA[0040]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0041.jpg"
	thumbURL="thumbs/0041.jpg"
	linkURL="images/0041.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0041.jpg">
    <title><![CDATA[0041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0043.jpg"
	thumbURL="thumbs/0043.jpg"
	linkURL="images/0043.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0043.jpg">
    <title><![CDATA[0043]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0044.jpg"
	thumbURL="thumbs/0044.jpg"
	linkURL="images/0044.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0044.jpg">
    <title><![CDATA[0044]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0045.jpg"
	thumbURL="thumbs/0045.jpg"
	linkURL="images/0045.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0045.jpg">
    <title><![CDATA[0045]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0046.jpg"
	thumbURL="thumbs/0046.jpg"
	linkURL="images/0046.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0046.jpg">
    <title><![CDATA[0046]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0047.jpg"
	thumbURL="thumbs/0047.jpg"
	linkURL="images/0047.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0047.jpg">
    <title><![CDATA[0047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0051.jpg"
	thumbURL="thumbs/0051.jpg"
	linkURL="images/0051.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0051.jpg">
    <title><![CDATA[0051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0052.jpg"
	thumbURL="thumbs/0052.jpg"
	linkURL="images/0052.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0052.jpg">
    <title><![CDATA[0052]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0053.jpg"
	thumbURL="thumbs/0053.jpg"
	linkURL="images/0053.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0053.jpg">
    <title><![CDATA[0053]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0054.jpg"
	thumbURL="thumbs/0054.jpg"
	linkURL="images/0054.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0054.jpg">
    <title><![CDATA[0054]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0055.jpg"
	thumbURL="thumbs/0055.jpg"
	linkURL="images/0055.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0055.jpg">
    <title><![CDATA[0055]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0056.jpg"
	thumbURL="thumbs/0056.jpg"
	linkURL="images/0056.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0056.jpg">
    <title><![CDATA[0056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0057.jpg"
	thumbURL="thumbs/0057.jpg"
	linkURL="images/0057.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0057.jpg">
    <title><![CDATA[0057]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0058.jpg"
	thumbURL="thumbs/0058.jpg"
	linkURL="images/0058.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0058.jpg">
    <title><![CDATA[0058]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0059.jpg"
	thumbURL="thumbs/0059.jpg"
	linkURL="images/0059.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0059.jpg">
    <title><![CDATA[0059]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0060.jpg"
	thumbURL="thumbs/0060.jpg"
	linkURL="images/0060.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0060.jpg">
    <title><![CDATA[0060]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0061.jpg"
	thumbURL="thumbs/0061.jpg"
	linkURL="images/0061.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0061.jpg">
    <title><![CDATA[0061]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0063.jpg"
	thumbURL="thumbs/0063.jpg"
	linkURL="images/0063.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0063.jpg">
    <title><![CDATA[0063]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0064.jpg"
	thumbURL="thumbs/0064.jpg"
	linkURL="images/0064.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0064.jpg">
    <title><![CDATA[0064]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0066.jpg"
	thumbURL="thumbs/0066.jpg"
	linkURL="images/0066.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0066.jpg">
    <title><![CDATA[0066]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0067.jpg"
	thumbURL="thumbs/0067.jpg"
	linkURL="images/0067.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0067.jpg">
    <title><![CDATA[0067]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0069.jpg"
	thumbURL="thumbs/0069.jpg"
	linkURL="images/0069.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0069.jpg">
    <title><![CDATA[0069]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0070.jpg"
	thumbURL="thumbs/0070.jpg"
	linkURL="images/0070.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0070.jpg">
    <title><![CDATA[0070]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0071.jpg"
	thumbURL="thumbs/0071.jpg"
	linkURL="images/0071.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0071.jpg">
    <title><![CDATA[0071]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0072.jpg"
	thumbURL="thumbs/0072.jpg"
	linkURL="images/0072.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0072.jpg">
    <title><![CDATA[0072]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0073.jpg"
	thumbURL="thumbs/0073.jpg"
	linkURL="images/0073.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0073.jpg">
    <title><![CDATA[0073]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0074.jpg"
	thumbURL="thumbs/0074.jpg"
	linkURL="images/0074.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0074.jpg">
    <title><![CDATA[0074]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0075.jpg"
	thumbURL="thumbs/0075.jpg"
	linkURL="images/0075.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0075.jpg">
    <title><![CDATA[0075]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0076.jpg"
	thumbURL="thumbs/0076.jpg"
	linkURL="images/0076.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0076.jpg">
    <title><![CDATA[0076]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0077.jpg"
	thumbURL="thumbs/0077.jpg"
	linkURL="images/0077.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0077.jpg">
    <title><![CDATA[0077]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0078.jpg"
	thumbURL="thumbs/0078.jpg"
	linkURL="images/0078.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0078.jpg">
    <title><![CDATA[0078]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0079.jpg"
	thumbURL="thumbs/0079.jpg"
	linkURL="images/0079.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0079.jpg">
    <title><![CDATA[0079]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0080.jpg"
	thumbURL="thumbs/0080.jpg"
	linkURL="images/0080.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0080.jpg">
    <title><![CDATA[0080]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0081.jpg"
	thumbURL="thumbs/0081.jpg"
	linkURL="images/0081.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0081.jpg">
    <title><![CDATA[0081]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0082.jpg"
	thumbURL="thumbs/0082.jpg"
	linkURL="images/0082.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0082.jpg">
    <title><![CDATA[0082]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0083.jpg"
	thumbURL="thumbs/0083.jpg"
	linkURL="images/0083.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0083.jpg">
    <title><![CDATA[0083]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0084.jpg"
	thumbURL="thumbs/0084.jpg"
	linkURL="images/0084.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0084.jpg">
    <title><![CDATA[0084]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/0085.jpg"
	thumbURL="thumbs/0085.jpg"
	linkURL="images/0085.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\micha\Documents\GNE-website-build\photos\benefit2017\2-2\0085.jpg">
    <title><![CDATA[0085]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>